.joke__wrapper {
    padding: 20px 20px 40px;
    width: clamp(320px, 90%, 600px);
}

#joke {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #313D5A;
}

#get-joke__wrapper {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.colors{
    color: #EAEAEA;
    color: #CBC5EA;
    color: #313D5A;
}

body {
    background-color: #EAEAEA;
}

#get-joke {
  appearance: button;
  background-color: #DF3B57;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 26px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#get-joke:after {
  background-clip: padding-box;
  background-color: #EE4B6A;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#get-joke,
#get-joke:focus {
  user-select: auto;
}

#get-joke:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

#get-joke:disabled {
  cursor: auto;
}

#get-joke:active {
  border-width: 4px 0 0;
  background: none;
}

.loading {
  animation: fadeLoop .8s ease-in-out infinite;
}

@keyframes fadeLoop {
  0%   { opacity: 1; }
  50%  { opacity: 0.3; }
  100% { opacity: 1; }
}